<html>
  <head>
    <link href="select2.css" type="text/css" rel="stylesheet"/>

    {{#each styles}}
    <link href="{{.}}" type="text/css" rel="stylesheet"/>
    {{/each}}
  </head>

  <body>
    <script src="jquery-1.9.1.js" type="text/javascript"></script>
    <script src="select2.js" type="text/javascript"></script>
    <script src="underscore.js" type="text/javascript"></script>
    <script src="backbone.js" type="text/javascript"></script>
    <script src="handlebars.js" type="text/javascript"></script>

    {{#each scripts}}
    <script src="{{.}}" type="text/javascript"></script>
    {{/each}}
  </body>
</html>
