@list-item-border: 1px solid grey;

.list-view {
  .list-item {
    border-bottom: @list-item-border;

    > * {
      padding: 6px;
    }
  }

  .list-item.message {
    border-bottom: none;
    text-align: center;

    color: #ccc;
  }
}
