body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.search-header {
  width: 100%;
  height: 32px;
}

.drink-panel {
  height: ~"calc(100% - 32px)";
}

.results-panel, .inspect-panel {
  float: left;
  height: 100%;
  overflow-x: scroll;
}

.results-panel {
  width: 30%;
  .drink-list {
    .list-item  {
      &:hover, &.selected {
        cursor: pointer;
        background-color: lightgrey;
      }

      > * {
        display: inline-block;
      }

      .missing-count {
        float: right;
      }
    }
  }
}

.select2-results:empty {
  display: none;
}