<div class="name">{{name}}</div>
{{#if missing}}
<div class="missing-notice">({{missing}} ingredient{{#gt missing 1}}s{{/gt}} missing)</div>
{{/if}}
<ul class="ingredients-list">
  {{#each ingredients}}
  <li class="ingredient">{{{ingredient .}}}</li>
  {{/each}}
</ul>

