<div class="search-panel">
  <div class="search-bar">
    <input type="hidden">
    <input type="submit">
  </div>
  <div class="search-result-list">
  </div>
</div>
<div class="drink-result">
</div>
