@import '../m/mobile-theme.less';

@list-item-font-size : 24px;
@list-item-height : 48px;
@list-header-height : 36px;

@icon-size : 24px;
@icon-spacing : 10px;
@icon-container-width : 36px;

.ingredient-list {
  .header-item {
    background-color : @almost-white;
    height : @list-header-height;
    line-height: @list-header-height;

    font-size : @list-item-font-size;

    text-transform: uppercase;
    padding-left : 12px;
  }

  .list-item {
    height : @list-item-height;
    line-height : @list-item-height;

    font-size : @list-item-font-size;

    .ingredient-icon-wrapper, .label {
      display : inline-block;
    }

    .ingredient-icon-wrapper {
      width : @icon-container-width;

      .icon {
        font-size : @icon-size;
        margin-top  : 2px;
        margin-left : @icon-spacing;
      }
    }

    &:not(.selected) .icon {
      color : @lighter-grey;
    }
  }
}

@next-header-height : 36px;

#page-header .clickable-header {
  height : @next-header-height;

  .right {
    font-size : 20px;
    text-align : right;

    text-transform : uppercase;
    padding-right : 12px;

    float : right;
  }
}

#list {
  height : ~"calc(100% -"@next-header-height~");"
}