@import './theme.less';

.ingredients-sidebar {
  height: 100%;

  > * {
    width: 100%;
  }

  input {
    height: @list-item-height;
    width: 100%;
  }

  .list-container {
    height: ~"calc(100% - "@list-item-height~")";
    overflow-y: scroll;
    background-color: @list-background;
  }

  .list-item.ingredient {
    white-space: nowrap;

    .list-icon-container {
      width: 26px;
      .list-icon {
        padding-left: 8px;
        visibility: hidden;
      }
    }

    .match {
      font-weight: bold;
    }

    &.selected, &.implied, &:hover, &.active {
      .list-icon {
        visibility: visible;
      }
    }

    &.implied:not(.selected) .list-icon {
      color: lighten(@list-item-color, 50%);
    }
  }
}