@import './theme.less';

.ingredients-sidebar {
  height: 100%;

  > * {
    width: 100%;
  }

  input {
    height: @list-item-height;
    width: 100%;
  }

  .list-container {
    height: ~"calc(100% - "@list-item-height~")";
    overflow-y: scroll;
  }

  .list-item.ingredient {
    .list-icon-container {
      width: 26px;
      .list-icon {
        padding-left: 8px;
        visibility: hidden;
      }
    }

    &.selected, &:hover, &.active {
      .list-icon {
        visibility: visible;
      }
    }
  }
}