@import './theme.less';

.navigable-list {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  &:focus {
    outline: none;
  }

  .list-item {
    height: @list-item-height;
    border-bottom: 1px solid @list-background;
    background-color: @list-item-background;
    color: @list-item-color;

    &.active {
      background-color: @light-selection;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .empty-message {
    height: @list-item-height;
    text-align: center;
    color: darken(@list-background, 15%);
  }
}
