@almost-black: #333;
@almost-white: #f8f8f8;
@light-grey: rgb(204, 204, 204);
@lighter-grey: rgb(229, 229, 299);
@light-selection: rgb(235, 241, 255);

@list-item-color: @almost-black;

@list-background: darken(@almost-white, 3%);
@list-item-background: @almost-white;

@spacer-background: darken(@almost-white, 3%);

@debug: rgb(255, 0, 255);

@primary-font: 'Avenir';

@list-item-height: 36px;